/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-712 {
        /* 175px - 200px top */
        padding: clamp(10.9375rem, 10vw, 12.5rem) calc(16 / 16 * 1rem)
            calc(100 / 16 * 1rem);
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.75;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-712 {
        .cs-background {
            &:before {
                opacity: 1;
                background: linear-gradient(
                    90.01deg,
                    rgba(0, 0, 0, 0.9) 16.86%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1073 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 433px at desktop */
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-wrapper {
            width: calc(56 / 16 * 1rem);
            height: calc(56 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-header {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-link-content {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
            font-size: min(1.959vw, 0.745em);
            width: calc(738 / 16 * 1em);
            height: calc(662 / 16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: calc(219 / 16 * 1em);
            height: calc(440 / 16 * 1em);
            top: calc(102 / 16 * 1em);
            left: 0;
            z-index: -1;
        }

        .cs-picture2 {
            width: calc(307 / 16 * 1em);
            height: calc(600 / 16 * 1em);
            bottom: 0;
            left: calc(217 / 16 * 1em);
            z-index: 10;
        }

        .cs-picture3 {
            width: calc(218 / 16 * 1em);
            height: calc(440 / 16 * 1em);
            top: calc(182 / 16 * 1em);
            right: 0;
            z-index: -1;
        }

        .cs-stripes {
            width: calc(578 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            top: calc(0 / 16 * 1em);
            left: calc(72 / 16 * 1em);
            z-index: -2;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1073 {
        .cs-container {
            max-width: calc(1280 / 16 * 1em);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            max-width: calc(433 / 16 * 1em);
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1073 {
            .cs-title,
            .cs-text,
            .cs-li,
            .cs-link-content,
            .cs-header {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li,
            .cs-header {
                opacity: 0.8;
            }

            .cs-stripes {
                opacity: 0.2;
            }
            
        }
    }
}

/*-- -------------------------- -->
<--- CONTENT LIST CONENT FLAIR  -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #list-1113 {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(24 / 16 * 1rem);

        .cs-li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: 1.25rem, 3vw, 1.5625rem;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(12 / 16 * 1rem);
        }

        .cs-li-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #list-1113 {
            .cs-li-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-li-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-892 {
        /* Centers Button */
        text-align: center;
        padding: var(--sectionPadding);
        /* prevents the arrow from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: #f1f1f1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: calc(1000 / 16 * 1rem);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            background-color: #fff;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            grid-column: span 6;
            position: relative;
            z-index: 1;
        }

        .cs-icon {
            width: calc(48 / 16 * 1rem);
            height: auto;
            margin: 0 0 calc(20 / 16 * 1rem) 0;
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-floater {
            width: calc(351 / 16 * 1rem);
            height: auto;
            display: none;
            position: absolute;
            top: calc(-220 / 16 * 1rem);
            right: calc(-60 / 16 * 1rem);
            transform: rotate(-66deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-892 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 2;
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-892 {
            background-color: var(--medium);

            &:before {
                opacity: 0.2;
                background-color: #000;
            }
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-heading3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--dark);
            }

            .cs-h3,
            .cs-item-text,
            .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-floater {
                opacity: 0.5;
            }
        }
    }
}

