/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-712 {
        /* 175px - 200px top */
        padding: clamp(10.9375rem, 10vw, 12.5rem) calc(16 / 16 * 1rem)
            calc(100 / 16 * 1rem);
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.75;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-712 {
        .cs-background {
            &:before {
                opacity: 1;
                background: linear-gradient(
                    90.01deg,
                    rgba(0, 0, 0, 0.9) 16.86%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1191 {
        padding: var(--sectionPadding);
        /* prevents padding from affecting height and  */
        box-sizing: border-box;

        .cs-container {
            /* changes to 1440px at desktop */
            max-width: calc(940 / 16 * 1rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-image {
            width: 100%;
            max-width: calc(510 / 16 * 1rem);
            height: auto;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            row-gap: calc(16 / 16 * 1rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            max-width: calc(368 / 16 * 1rem);
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-picture {
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            box-sizing: border-box;
            /* prevents border from affecting height and width */
            background-color: #f7f7f7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: calc(30 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
            text-align: inherit;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: inherit;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            min-width: calc(150 / 16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24 / 16 * 1rem);
            color: #fff;
            background-color: var(--primary);
            text-decoration: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            text-align: center;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1191 {
        .cs-card-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .cs-item {
            text-align: left;
            margin: 0;
            width: 32%;
            align-items: flex-start;
        }

        .cs-image {
            max-height: calc(450 / 16 * 1rem);

            img {
                width: 100%;
                height: auto;
                max-height: calc(450 / 16 * 1rem);
                object-fit: contain;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1191 {
        .cs-container {
            max-width: calc(1440 / 16 * 1rem);
        }
        .cs-image {
            width: 30vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            img {
                width: auto;
                height: auto;
            }
        }

        .cs-card-group {
            align-items: flex-start;
            justify-content: center;
            /* 180px - 356px */
            column-gap: clamp(11.25rem, 21vw, 22.25rem);
            /* 40px - 88px */
            row-gap: clamp(2.5rem, 8vw, 5.5rem);
        }

        .cs-item {
            width: 32vw;
            max-width: calc(422 / 16 * 1rem);
            flex-direction: row;
            position: relative;

            &:nth-of-type(odd) {
                text-align: right;
                .cs-picture {
                    /* sends it to the right in the 2nd position */
                    order: 2;
                }
            }

            &:nth-of-type(3) {
                /* 90px - 1280px */
                left: calc(clamp(5.625rem, 8vw, 8rem) * -1);
            }

            &:nth-of-type(4) {
                /* 90px - 1280px */
                right: calc(clamp(5.625rem, 8vw, 8rem) * -1);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1191 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-picture {
                background-color: var(--medium);
            }

            .cs-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

                                